#about-us {
    padding: 5% 12%;
}

.v-and-m h4 {
    text-align: center;
    padding-bottom: 2rem;
}

h4 {
    text-align: center;
}

.credentials {
    padding: 3% 0 0;
}

.credentials h4 {
    padding-bottom: 2rem;
}

.table {
    text-align: center;
}

.table td {
    text-align: justify;
    padding: 2%;
}